


/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(247, 249, 251);
  color: #1a1a1a;
  position: relative;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: 4rem auto;
}

#progress-bar {
  width: 0%;
  height: 4.5px;
  background-color: #6366f1;
  border-radius: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  transition: width 0.2s ease-out;
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: #2b3764;
  margin: 2.5rem 0;
}

h3 {
  font-size: 1.2rem;
  color: #2b3264;
}

a {
  color: #2b3764;
  text-decoration: none;
}


/* Navbar Styles */
.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.top-bar {
  background-color: rgb(39, 44, 51);
}

.top-bar__content {
  height: 30px;
  max-width: 1400px;
  padding: 4px 30px 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 25px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.35);
}

.icon {
  margin-right: 2.5px;
}


.bottom-bar {
  background-color: #fff;
}

.bottom-bar__content {
  min-height: 60px;
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.logo__img {
  height: 70px;
}

.logo__text {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.nav {
  transition: all 0.3s ease-in-out;
}

.nav__list {
  display: flex;
  column-gap: 40px;
  list-style: none;
}

.nav__item svg {
  display: none;
}

.nav__link:hover,
.nav__link:focus {
  color: #6366f1;
}

.btn {
  color: #fff;
  background-color: #6366f1;
  padding: 8px 20px;
  border-radius: 1000px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #6669fc;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.bar {
  height: 2px;
  width: 27px;
  background-color: rgb(39, 44, 51);
  margin: 5px 0;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

/* For JS */
.nav--open {
  left: 50% !important;
}

.hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/* MEDIA QUERIES */
@media (max-width: 650px) {
  .nav {
    position: fixed;
    top: 102px;
    left: -100%;
    transform: translateX(-50%);
    background-color: rgb(39, 44, 51);
    width: 100%;
    height: 100vh;
    padding: 10px 0 25px;
  }

  .nav__list {
    flex-direction: column;
    align-items: left;
    row-gap: 35px;
  }

  .nav__item svg {
    display: inline-flex;
    fill: #fff;
    margin-right: 4px;
  }

  .nav__link {
    font-size: 18px;
    color: white;
  }

  .btn {
    font-size: 11px;
    padding: 7px 17px;
  }

  .hamburger {
    display: block;
  }
}

@media (max-width: 360px) {
  .top-bar__content {
    font-size: 10px;
  }
}



/* Hero section */




/* Services Section */
.services {
  text-align: center;
  margin-top: 10rem;
}

.service-brief {
  font-size: 1.1rem;
  color: #000;
  max-width: 800px;
  margin: 0 auto 4rem auto;
  line-height: 1.6;
}

.srv-card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: min(300px, 100%);
  margin: auto;
  background-color: #f4f5f2;
  text-align: center;
  border-top-left-radius: 4rem;
  border: 2px solid #fff;
  position: relative;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.card::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 100px;
  background-color: #393e7f;
  top: 60px;
  right: -2.5px;
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}

.card__body {
  padding: 2rem 1.5rem;
  max-width: 25ch;
  margin: auto;
}

.card__icon{
  width: 80px;
  height: 80px;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 5.5px solid #393e7f;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.card__title {
  font-weight: 800;
  color: #121513;
  font-size: 1.25rem;
  margin-block: 1.5rem 0.75rem;
}

.card__paragraph {
  color: #303830;
  font-size: 0.875rem;
}

.card__ribbon {
  margin-top: 1.5rem;
  display: grid;
  place-items: center;
  height: 50px;
  background: linear-gradient(135deg, #2b3264, #393e7f, #5b64c1);
  background-size: 300% 300%;
  animation: glossyEffect 4s infinite linear;
  position: relative;
  width: 110%;
  left: -5%;
  top: 10px;
  border-radius: 0 0 2rem 2rem;
}

.card__ribbon::after,
.card__ribbon::before {
  content: "";
  position: absolute;
  width: 20px;
  aspect-ratio: 1/1;
  bottom: 100%;
  z-index: -2;
  background: linear-gradient(135deg, #2b3264, #393e7f, #5961ba);
}

.card__ribbon::before {
  left: 0;
  transform-origin: left bottom;
  transform: rotate(45deg);
}

.card__ribbon::after {
  right: 0;
  transform-origin: right bottom;
  transform: rotate(-45deg);
}

.card__ribbon-label {
  display: block;
  width: 84px;
  aspect-ratio: 1/1;
  background-color: #fff;
  position: relative;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 8px solid #393e7f;
  display: grid;
  place-items: center;
  font-weight: 900;
  line-height: 1;
  font-size: 1.5rem;
}

.card__ribbon-label::before,
.card__ribbon-label::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 50%;
}

.card__ribbon-label::before {
  right: calc(100% + 4px);
  border-bottom-right-radius: 20px;
  box-shadow: 5px 5px 0 #393e7f;
}

.card__ribbon-label::after {
  left: calc(100% + 4px);
  border-bottom-left-radius: 20px;
  box-shadow: -5px 5px 0 #393e7f;
}

@keyframes glossyEffect {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .service-cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}


/* About Section */
.about {
  text-align: center;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 4rem;
}

.about-content .reverse {
  flex-direction: row-reverse;
}

.about-content img {
  width: 45%;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.about-text {
  width: 50%;
  text-align: left;
}

.about-text h3 {
  color: rgb(0, 0, 0);
  font-size: 20px;
}


.about-text p {
  font-size: 1.1rem;
  color: #929292;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.about-text ul {
  list-style: none;
  padding: 0;
}

.about-text ul li {
  font-size: 1rem;
  color: #929292;
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 1.5rem;
}

.about-text ul li::before {
  content: "";
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: -0.2rem;
}


/* Primary Button */
.btn-wrap {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #ffffff;
  color: #2b3264;
  width: 13.5em;
  height: 2.9em;
  border: #2b3264 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}

.button:hover {
  background-color: #2b3264;
  color: white;
  cursor: pointer;
}

.button svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: transform 0.3s ease;
}

.button:hover svg {
  transform: translateX(5px);
}

.text {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 1.5em
}


/* Responsive Styles */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-content.reverse {
    flex-direction: column;
  }

  .about-content img {
    width: 80%;
    margin-bottom: 1.5rem;
  }

  .about-text {
    width: 100%;
    text-align: center;
  }

  .about-text ul {
    text-align: left;
  }
}


/* Course Gallery */
.courses {
  padding: 2rem;
  text-align: center;
}

.course-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
} */

/* Main CSS */
.grid-wrapper>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-wrapper>div>img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 5px;
  position: relative;
}


.shadow_click {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.shadow_click:hover {
  scale: 1.02;
  border-radius: 15px;
  box-shadow: 0px 2.5px 8px rgba(138, 138, 138, 0.2);
}

.bounce {
  animation: bounceEffect 0.5s ease-in-out;
}

@keyframes bounceEffect {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}



.grid-wrapper {
  display: grid;
  grid-gap: 18px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  position: relative;
}

.grid-wrapper .wide {
  grid-column: span 2;
}

.grid-wrapper .tall {
  grid-row: span 2;
}

.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}









/* Pricing Section */
.pricing {
  padding: 2rem;
  text-align: center;
}

.pricing p {
  font-size: 1.1rem;
  text-align: center;
  color: #929292;
  max-width: 950px;
  font-weight: bold;
  margin: 0 auto 2rem auto;
  line-height: 1.6;
}

.pricing-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pricing-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.plan {
  background: #fafafa;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(76, 117, 252, 0.3);
  transition: transform 0.3s;
  width: 350px;
}

.plan:hover {
  transform: scale(1.05);
}

.plan p {
  font-weight: bold;
  color: #929292;
}

.price {
  font-size: 24px;
  color: #2b3764;
  font-weight: bold;
  margin: 20px 0;
}

.features {
  text-align: left;
  list-style: none;
  margin: 15px 0;
}

.features li {
  padding: 5px 0;
}

.btn-price {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 2px solid #2b3264;
  color: #2b3264;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5s;
}

.btn-price:hover {
  background: #2b3264;
  color: #fff;
  text-decoration: none;
  scale: 1.10;
}




/* Why Choose Us */
.why-choose {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  border-radius: 20px;
  overflow: hidden;
}

.background {
  position: relative;
  width: 100%;
  height: 500px;
  background: url('./images/why-choose-bg.webp') no-repeat center center/cover;
  border-radius: 20px;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.text-content {
  max-width: 50%;
}

.text-content p {
  font-size: 18px;
  font-weight: 900;
  line-height: 1.6;
  color: #fff;
}

.image-container {
  max-width: 40%;
}

.image-container img {
  width: 250px;
  border-radius: 10px;
  position: absolute;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}
.img-1{
  top: 20%;
  left: 70%;
  z-index: 400;
}
.img-2{
  top: 58%;
  left: 55%;
  z-index: 200;
}
.img-3{
  top: -45%;
  left: 60%;
  z-index: 300;
}

/* Responsive Design */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    text-align: center;
  }

  .text-content {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .image-container {
    max-width: 80%;
  }
}



/* Benefits Section */
.difference{
  padding: 2rem 0;
}

.differ-brief {
  font-size: 1.1rem;
  text-align: center;
  color: #929292;
  max-width: 950px;
  font-weight: bold;
  margin: 0 auto 2rem auto;
  line-height: 1.6;
}

.container-box {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
}

.dark-box {
  background: linear-gradient(135deg, #5a5a5a, #1e1e1e, #3C3D37);
  border: 1px solid red;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.light-box {
  background: #fff;
  color: #111;
  border: 1px solid #2b3264;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.point {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.point i {
  font-size: 18px;
  color: #8a2be2;
}

.dark-box p {
  color: #929292;
}

.point p {
  font-size: 14px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}



/* Testimonials */




/* Contact Section */
.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 4rem auto 12rem auto;
  border-radius: 10px;
}

.contact p {
  font-size: 1.1rem;
  text-align: center;
  color: #929292;
  max-width: 950px;
  font-weight: bold;
  margin: 0 auto 2rem auto;
  line-height: 1.6;
}

/* Contact Form */
.contact-form {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-form h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #2b3264;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.contact-form button {
  width: 60%;
  padding: 12px;
  background: #2b3264;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background: #1d214f;
}

/* Map Styling */
.map-container {
  width: 47%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.map-container iframe {
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    text-align: center;
  }

  .contact-form {
    width: 100%;
    order: 1;
  }

  .map-container {
    width: 100%;
    order: 2;
    margin-top: 20px;
  }
}



/* Footer */
footer {
  width: 100%;
  background: #fff;
}

.footer-container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-container h3::after {
  content: "";
  display: block;
  height: 2px;
  width: 50px;
  background: #2b3264;
  margin-top: 20px;
}

.footer-container li a:hover {
  color: #2b3264;
  transition: all 0.2s ease;
}

.col-1 {
  flex-basis: 35%;
  padding: 10px;
  margin-bottom: 20px;
}

.col-1 img {
  height: 115px;
  margin-bottom: 15px;
}

.col-1 p {
  color: #929292;
  font-size: 15px;
  line-height: 20px;
}

.col-2 {
  flex-basis: 15%;
  padding: 10px;
  margin-bottom: 20px;
}

.col-2 h3 {
  color: #2b3264;
  font-size: 20px;
  margin-bottom: 15px;
}

.col-2 ul {
  list-style: none;
  padding-left: 0;
}

.col-2 ul li {
  margin-bottom: 10px;
}

.col-2 ul li a {
  font-size: 13px;
  color: #929292;
  text-decoration: none;
}

.col-3 {
  flex-basis: 15%;
  padding: 10px;
  margin-bottom: 20px;
}

.col-3 h3 {
  color: #2b3264;
  font-size: 20px;
  margin-bottom: 15px;
}

.col-3 ul {
  list-style: none;
  padding-left: 0;
}

.col-3 ul li {
  margin-bottom: 10px;
}

.col-3 ul li a {
  font-size: 13px;
  color: #929292;
  text-decoration: none;
}

.col-4 {
  flex-basis: 20%;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
  padding: 20px;
  border-radius: 10px;
  max-width: 350px;
}

.title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #fff;
}

.description {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  color: rgb(209 213 219);
}

.form div {
  display: flex;
  max-width: 28rem;
  margin-top: 1rem;
  column-gap: 0.5rem;
}

.form div input {
  outline: none;
  line-height: 1.5rem;
  font-size: 0.875rem;
  color: rgb(255 255 255);
  padding: 0.5rem 0.875rem;
  background-color: rgb(255 255 255 / 0.05);
  border: 1px solid rgba(253, 253, 253, 0.363);
  border-radius: 0.375rem;
  flex: 1 1 auto;
}

.form div input::placeholder {
  color: rgb(216, 212, 212);
}

.form div input:focus {
  border: 1px solid rgb(99 102 241);
}

.form div button {
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.875rem;
  background-color: rgb(99 102 241);
  border-radius: 0.375rem;
  border: none;
  outline: none;
}

.social-icons {
  margin-top: 50px;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #25262A;
  text-align: center;
  line-height: 40px;
  border: 2.5px solid #2b3264;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all 0.5s ease;
}

.social-icons a:hover {
  background: #2b3764;
  color: #fff;
  transition: all 0.5s ease;
}

.footer-2 {
  width: 100%;
  background: #fafafa;
  font-size: 14px;
  color: #7a7c84;
  text-align: center;
  padding: 25px 0;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
}

/* Responsive Design */
@media (max-width: 950px) {
  .footer-container {
    justify-content: space-around;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 45%;
    /* Two columns */
  }
}

@media (max-width: 650px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
    /* Stacked in one column */
    text-align: center;
  }

  form {
    flex-direction: column;
  }

  form input {
    text-align: center;
    margin-bottom: 10px;
  }
}